# files configurations
output_dir:./two_fp_mult/results/
source_file:./two_fp_mult/two_fp_mult.cu
binary:./two_fp_mult/two_fp_mult
template_file:./for_template.cu
measurement_target_file:./two_fp_mult/target.cu

# template filling parameters
measurement_tag:MEASUREMENT
data_type_tag:DATA_TYPE
operand_type_tag:OPERAND_TYPE
constraint_letter_tag:CONSTRAINT_LETTER

unroll_factor:1000
type:float,f32,f

# benchmark running parameters

min_threads:1
max_threads:1024

min_sm:1
max_sm:1

number_of_operations:1000000
